# SURUTHI S
# 225229141

# DVA INTERNAL 1

#  LOAN DATASET

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# 1. Import above dataset

In [2]:
df = pd.read_csv("loan.csv")

In [3]:
df.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       ...
       'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq',
       'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens',
       'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit'],
      dtype='object', length=111)

In [5]:
df.shape

(39717, 111)

# 2.Find the number of missing value in each column.

In [6]:
df.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
                              ...
tax_liens                        39
tot_hi_cred_lim               39717
total_bal_ex_mort             39717
total_bc_limit                39717
total_il_high_credit_limit    39717
Length: 111, dtype: int64

In [7]:
# number of columns in df = 111

# 3. Find which column has 100 % of missing values? and Drop that columns.

In [82]:
# dropping  the columns (axis =1 )that has 100% missing values (how = 'all')

non_null = df.dropna(axis=1,how='all')

In [9]:
print('Columns in df that do not 100 % of missing values\n')
print(non_null.isnull().sum() * 100 / len(df))

Columns in df that do not 100 % of missing values

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      6.191303
emp_length                     2.706650
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
desc                          32.580507
purpose                        0.000000
title                          0.027696
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq        64.662487
mths_since_last_record        92.985372
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.125891
total_acc                      0.000000
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.178765
last_pymnt_amnt                0.000000
next_pymnt_d                  97.129693
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
policy_code                    0.000000
application_type               0.000000
acc_now_delinq                 0.000000
chargeoff_within_12_mths       0.140998
delinq_amnt                    0.000000
pub_rec_bankruptcies           1.754916
tax_liens                      0.098195
dtype: float64

In [10]:
non_null.shape

(39717, 57)

In [11]:
# initial number of columns = 111
#  after dropping  that have 100% missing value = 57

## 4. Change 'loan_status' feature value, if it has ‘Fully Paid’ 
## then change its value as ‘0’ and if it has ‘Charged Off’ then change its value as ‘1’.

### ‘Fully Paid’ as 0
### ‘Charged Off’ as 1

In [12]:
df['loan_status'].unique()

# categories = 'Fully Paid', 'Charged Off', 'Current'

array(['Fully Paid', 'Charged Off', 'Current'], dtype=object)

In [13]:
df['loan_status'] = df['loan_status'].replace({
    'Fully Paid' : 0,
    'Charged Off' :1
})

In [14]:
df['loan_status'].unique()

# categories after mapping = ([0, 1, 'Current']

array([0, 1, 'Current'], dtype=object)

# 5. Find the total received intrest amount (total_rec_int) of ‘Fully Paid’ customer with ‘term’ is ’60 month’

In [16]:
df.total_rec_int

0         863.16
1         435.17
2         605.67
3        2214.92
4        1037.39
          ...
39712     322.97
39713    1413.49
39714     272.16
39715     174.20
39716    1695.26
Name: total_rec_int, Length: 39717, dtype: float64

In [17]:
count = df['total_rec_int'].groupby([df.term,df.loan_status]).sum()

In [15]:
# 0 marked as Fullypaid
# 1 marked as Charged off

In [18]:
count

term        loan_status
 36 months  0              37744723.41
            1               3825084.93
 60 months  0              31661105.13
            1               8523138.03
            Current         8151858.71
Name: total_rec_int, dtype: float64

In [19]:
count[2]

31661105.13

In [23]:
print(f'The total received intrest amount (total_rec_int) of ‘Fully Paid’ customer with ‘term’ is ’60 month’ is {count[2]}')

The total received intrest amount (total_rec_int) of ‘Fully Paid’ customer with ‘term’ is ’60 month’ is 31661105.13

# 6.  Let’s convert the ‘issue_d”  column into datetime and then extract year and month from it.

In [24]:
# viewing the current format
df['issue_d'].head()

0    Dec-11
1    Dec-11
2    Dec-11
3    Dec-11
4    Dec-11
Name: issue_d, dtype: object

In [25]:
# changing the format
df['issue_d'] = pd.to_datetime(df.issue_d.str.upper(), format='%b-%y', yearfirst=False)

In [26]:
df['issue_d'].head()

0   2011-12-01
1   2011-12-01
2   2011-12-01
3   2011-12-01
4   2011-12-01
Name: issue_d, dtype: datetime64[ns]

##  extract year and month from it.

In [27]:
# formatted in year and month
# converted from DEC -11 TO 2011-12

df.year_month = df['issue_d'].dt.to_period('M')

In [34]:
df.year_month

0        2011-12
1        2011-12
2        2011-12
3        2011-12
4        2011-12
          ...
39712    2007-07
39713    2007-07
39714    2007-07
39715    2007-07
39716    2007-06
Name: issue_d, Length: 39717, dtype: period[M]

## Extract year as a individual column

In [38]:
df['year'] = df['issue_d'].dt.strftime('%Y')

In [39]:
df.year

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
39712    2007
39713    2007
39714    2007
39715    2007
39716    2007
Name: year, Length: 39717, dtype: object

In [52]:
df['year'].unique()

array(['2011', '2010', '2009', '2008', '2007'], dtype=object)

## Extract Month as a individual column

In [40]:
df['month'] = df['issue_d'].dt.strftime('%m')

In [41]:
df.month

0        12
1        12
2        12
3        12
4        12
         ..
39712    07
39713    07
39714    07
39715    07
39716    06
Name: month, Length: 39717, dtype: object

#  7. Find the average rate of interest rate for the year 2010.

In [59]:
# converting year from string to integer
df.year = df.year.astype(int)

In [68]:
# given format '13.23%'
# strpping the percentage ans converting to float 

df.int_rate = df.int_rate.str.rstrip("%")
df.int_rate  = df.int_rate.astype(float)

In [83]:
# computing Mean
mean = df.loc[df.year == 2010 , 'int_rate'].mean()

In [84]:
mean

11.748117412417775

In [87]:
print(f"the average rate of interest rate for the year 2010 is {mean}")

the average rate of interest rate for the year 2010 is 11.748117412417775

# 8 Find the how many verified entries available in this data set and find the their mean of the ‘total_pymnt’

In [77]:
verified = df[df.verification_status == 'Verified']

In [78]:
avg = df.total_pymnt.groupby(df.verification_status).mean()

In [79]:
avg

verification_status
Not Verified        9074.015614
Source Verified    10941.290498
Verified           17167.015966
Name: total_pymnt, dtype: float64

In [80]:
# Source Verified and Verified denotes the verified entries so adding it together
Verified = avg[1]+avg[2]

In [81]:
print(f"Verified  entries and their mean of the ‘total_pymnt’ is {Verified}")

Verified  entries and their mean of the ‘total_pymnt’ is 28108.30646402531

# 9.Write function for find ‘funded_amt’level .


if ‘funded_amt’ <=5000  consider
as -1

if ‘funded_amt’ >5000 and <= 15000 
consider as 0

if ‘funded_amt’ >15000  consider
as 1

In [88]:
def map_fun():
    df.loc[df.funded_amnt <= 5000,'funded_amt_level'] = -1
    df.loc[(df.funded_amnt > 5000) & (df.funded_amnt <=15000),'funded_amt_level'] = 0
    df.loc[df.funded_amnt > 15000,'funded_amt_level'] = 1
    return df.funded_amt_level

In [89]:
print("Initial Values in funded_amt column")
print(df.funded_amnt.head())
print("Mapped Values acc to criteria")
map_fun()

Initial Values in funded_amt column
0     5000
1     2500
2     2400
3    10000
4     3000
Name: funded_amnt, dtype: int64
Mapped Values acc to criteria

0       -1.0
1       -1.0
2       -1.0
3        0.0
4       -1.0
        ...
39712   -1.0
39713    0.0
39714   -1.0
39715   -1.0
39716    0.0
Name: funded_amt_level, Length: 39717, dtype: float64

In [3]:
a = open('pct.txt','r')
con = a.readlines()

In [4]:
con

['int_rate\n',
 '9.99%\n',
 '13.72%\n',
 '15.20%\n',
 '14.83%\n',
 '12.98%\n',
 '17.43%\n',
 '6.91%\n',
 '13.72%\n',
 '9.99%\n',
 '16.32%\n',
 '14.46%\n',
 '9.99%\n',
 '17.43%\n',
 '13.35%\n',
 '9.99%\n',
 '6.54%\n',
 '9.25%\n',
 '20.40%\n',
 '12.23%\n',
 '9.99%\n',
 '9.99%\n',
 '9.62%\n',
 '16.69%\n',
 '9.99%\n',
 '6.17%\n',
 '6.54%\n',
 '6.17%\n',
 '10.36%\n',
 '14.46%\n',
 '5.79%\n',
 '8.88%\n',
 '16.69%\n',
 '6.54%\n',
 '5.79%\n',
 '12.98%\n',
 '8.88%\n',
 '13.35%\n',
 '15.95%\n',
 '8.88%\n',
 '9.62%\n',
 '18.54%\n',
 '16.69%\n',
 '9.62%\n',
 '15.95%\n',
 '15.57%\n',
 '6.17%\n',
 '9.99%\n',
 '12.61%\n',
 '9.25%\n',
 '15.20%\n',
 '8.88%\n',
 '17.06%\n',
 '16.32%\n',
 '15.20%\n',
 '14.83%\n',
 '6.17%\n',
 '6.17%\n',
 '6.91%\n',
 '14.46%\n',
 '9.99%\n',
 '6.91%\n',
 '14.83%\n',
 '15.57%\n',
 '8.88%\n',
 '14.09%\n',
 '12.61%\n',
 '10.36%\n',
 '8.88%\n',
 '9.25%\n',
 '6.91%\n',
 '9.25%\n',
 '9.99%\n',
 '13.35%\n',
 '5.79%\n',
 '13.72%\n',
 '9.99%\n',
 '12.23%\n',
 '9.99%\n',
 '6.91%\n',
 '6.54%\n',
 '12.23%\n',
 '14.09%\n',
 '12.61%\n',
 '12.23%\n',
 '20.77%\n',
 '12.61%\n',
 '16.32%\n',
 '9.62%\n',
 '6.17%\n',
 '14.09%\n',
 '6.54%\n',
 '9.99%\n',
 '14.46%\n',
 '12.23%\n',
 '9.25%\n',
 '9.62%\n',
 '6.91%\n',
 '6.91%\n',
 '6.54%\n',
 '12.23%\n',
 '12.61%\n',
 '9.25%\n',
 '13.35%\n',
 '12.61%\n',
 '12.98%\n',
 '6.91%\n',
 '13.35%\n',
 '8.88%\n',
 '12.23%\n',
 '6.54%\n',
 '12.23%\n',
 '9.99%\n',
 '12.61%\n',
 '5.42%\n',
 '14.46%\n',
 '6.91%\n',
 '9.62%\n',
 '9.99%\n',
 '12.61%\n',
 '18.91%\n',
 '6.54%\n',
 '6.17%\n',
 '16.32%\n',
 '14.83%\n',
 '5.79%\n',
 '6.17%\n',
 '5.79%\n',
 '8.88%\n',
 '9.99%\n',
 '6.54%\n',
 '6.54%\n',
 '6.17%\n',
 '13.72%\n',
 '13.72%\n',
 '9.25%\n',
 '16.32%\n',
 '14.46%\n',
 '6.54%\n',
 '5.79%\n',
 '19.29%\n',
 '15.57%\n',
 '17.06%\n',
 '14.46%\n',
 '9.25%\n',
 '9.25%\n',
 '8.88%\n',
 '6.17%\n',
 '5.79%\n',
 '6.54%\n',
 '14.09%\n',
 '12.61%\n',
 '5.79%\n',
 '6.54%\n',
 '13.72%\n',
 '5.79%\n',
 '5.79%\n',
 '9.99%\n',
 '5.42%\n',
 '14.46%\n',
 '8.88%\n',
 '6.17%\n',
 '9.62%\n',
 '20.77%\n',
 '18.17%\n',
 '15.20%\n',
 '6.91%\n',
 '13.72%\n',
 '6.91%\n',
 '12.61%\n',
 '6.54%\n',
 '12.98%\n',
 '13.35%\n',
 '5.42%\n',
 '6.54%\n',
 '6.54%\n',
 '6.91%\n',
 '9.62%\n',
 '5.79%\n',
 '12.61%\n',
 '14.09%\n',
 '9.62%\n',
 '14.83%\n',
 '16.69%\n',
 '9.99%\n',
 '16.32%\n',
 '14.83%\n',
 '9.99%\n',
 '6.91%\n',
 '6.91%\n',
 '6.91%\n',
 '6.54%\n',
 '6.54%\n',
 '10.36%\n',
 '15.20%\n',
 '14.46%\n',
 '6.17%\n',
 '14.09%\n',
 '9.99%\n',
 '9.25%\n',
 '6.91%\n',
 '9.99%\n',
 '9.62%\n',
 '6.54%\n',
 '9.99%\n',
 '12.61%\n',
 '5.79%\n',
 '9.25%\n',
 '14.46%\n',
 '10.36%\n',
 '8.88%\n',
 '18.54%\n',
 '13.35%\n',
 '10.36%\n',
 '9.99%\n',
 '6.91%\n',
 '6.91%\n',
 '15.57%\n',
 '9.25%\n',
 '5.42%\n',
 '14.09%\n',
 '9.25%\n',
 '6.91%\n',
 '12.61%\n',
 '6.17%\n',
 '9.25%\n',
 '6.17%\n',
 '12.61%\n',
 '5.79%\n',
 '9.62%\n',
 '6.54%\n',
 '10.36%\n',
 '13.72%\n',
 '6.17%\n',
 '5.79%\n',
 '9.62%\n',
 '9.99%\n',
 '9.99%\n',
 '6.91%\n',
 '9.99%\n',
 '12.61%\n',
 '6.54%\n',
 '15.95%\n',
 '6.17%\n',
 '10.36%\n',
 '6.54%\n',
 '5.79%\n',
 '6.54%\n',
 '13.35%\n',
 '10.36%\n',
 '10.36%\n',
 '6.91%\n',
 '5.79%\n',
 '6.91%\n',
 '6.91%\n',
 '12.98%\n',
 '18.17%\n',
 '9.62%\n',
 '14.83%\n',
 '6.17%\n',
 '9.99%\n',
 '9.25%\n',
 '14.46%\n',
 '5.79%\n',
 '12.98%\n',
 '9.62%\n',
 '9.99%\n',
 '6.00%\n',
 '12.23%\n',
 '13.72%\n',
 '6.17%\n',
 '9.99%\n',
 '8.88%\n',
 '16.69%\n',
 '14.46%\n',
 '6.91%\n',
 '9.25%\n',
 '13.72%\n',
 '13.35%\n',
 '14.83%\n',
 '9.25%\n',
 '14.83%\n',
 '12.98%\n',
 '6.54%\n',
 '6.17%\n',
 '6.17%\n',
 '9.62%\n',
 '6.91%\n',
 '9.99%\n',
 '8.88%\n',
 '14.09%\n',
 '9.25%\n',
 '10.36%\n',
 '12.61%\n',
 '6.54%\n',
 '9.25%\n',
 '16.32%\n',
 '13.35%\n',
 '8.88%\n',
 '20.77%\n',
 '12.98%\n',
 '16.69%\n',
 '8.88%\n',
 '12.23%\n',
 '6.91%\n',
 '5.79%\n',
 '13.72%\n',
 '12.61%\n',
 '13.35%\n',
 '12.98%\n',
 '10.36%\n',
 '14.46%\n',
 '9.25%\n',
 '12.98%\n',
 '14.83%\n',
 '9.99%\n',
 '13.72%\n',
 '14.46%\n',
 '5.42%\n',
 '12.61%\n',
 '6.91%\n',
 '9.99%\n',
 '20.03%\n',
 '13.35%\n',
 '6.54%\n',
 '13.72%\n',
 '9.99%\n',
 '12.61%\n',
 '8.88%\n',
 '19.29%\n',
 '9.62%\n',
 '6.17%\n',
 '9.99%\n',
 '8.88%\n',
 '9.99%\n',
 '10.36%\n',
 '14.83%\n',
 '12.23%\n',
 '9.99%\n',
 '12.61%\n',
 '17.06%\n',
 '15.57%\n',
 '18.91%\n',
 '12.23%\n',
 '6.54%\n',
 '6.54%\n',
 '12.61%\n',
 '8.88%\n',
 '18.54%\n',
 '6.17%\n',
 '12.23%\n',
 '6.17%\n',
 '6.91%\n',
 '12.61%\n',
 '9.62%\n',
 '6.17%\n',
 '12.98%\n',
 '5.79%\n',
 '13.72%\n',
 '6.91%\n',
 '5.42%\n',
 '15.95%\n',
 '14.09%\n',
 '6.91%\n',
 '18.54%\n',
 '14.09%\n',
 '20.03%\n',
 '12.23%\n',
 '6.91%\n',
 '6.91%\n',
 '14.09%\n',
 '12.61%\n',
 '9.99%\n',
 '6.17%\n',
 '10.36%\n',
 '6.17%\n',
 '12.23%\n',
 '9.25%\n',
 '13.35%\n',
 '14.83%\n',
 '14.09%\n',
 '9.62%\n',
 '6.54%\n',
 '6.54%\n',
 '13.72%\n',
 '17.06%\n',
 '13.72%\n',
 '12.61%\n',
 '17.43%\n',
 '6.54%\n',
 '6.91%\n',
 '6.54%\n',
 '13.72%\n',
 '5.79%\n',
 '12.98%\n',
 '6.17%\n',
 '13.35%\n',
 '12.61%\n',
 '8.88%\n',
 '14.83%\n',
 '12.98%\n',
 '17.06%\n',
 '9.99%\n',
 '6.17%\n',
 '13.35%\n',
 '6.91%\n',
 '5.79%\n',
 '9.62%\n',
 '17.06%\n',
 '9.99%\n',
 '5.79%\n',
 '12.23%\n',
 '10.36%\n',
 '13.72%\n',
 '9.62%\n',
 '9.62%\n',
 '12.23%\n',
 '15.95%\n',
 '13.72%\n',
 '8.88%\n',
 '9.99%\n',
 '8.88%\n',
 '10.36%\n',
 '14.46%\n',
 '18.17%\n',
 '6.54%\n',
 '8.88%\n',
 '10.36%\n',
 '13.72%\n',
 '10.36%\n',
 '13.72%\n',
 '9.99%\n',
 '15.20%\n',
 '21.14%\n',
 '15.57%\n',
 '12.61%\n',
 '12.61%\n',
 '15.57%\n',
 '14.46%\n',
 '12.23%\n',
 '14.83%\n',
 '6.17%\n',
 '6.17%\n',
 '17.43%\n',
 '9.62%\n',
 '6.17%\n',
 '9.99%\n',
 '6.91%\n',
 '6.91%\n',
 '5.42%\n',
 '12.61%\n',
 '14.46%\n',
 '9.99%\n',
 '15.95%\n',
 '9.25%\n',
 '15.57%\n',
 '12.98%\n',
 '10.36%\n',
 '6.17%\n',
 '6.91%\n',
 '10.36%\n',
 '5.42%\n',
 '12.23%\n',
 '13.35%\n',
 '5.42%\n',
 '18.91%\n',
 '5.79%\n',
 '12.98%\n',
 '14.46%\n',
 '14.83%\n',
 '17.43%\n',
 '14.09%\n',
 '9.62%\n',
 '9.62%\n',
 '13.35%\n',
 '5.42%\n',
 '9.25%\n',
 '9.25%\n',
 '8.88%\n',
 '13.72%\n',
 '17.06%\n',
 '6.54%\n',
 '12.61%\n',
 '13.72%\n',
 '14.83%\n',
 '10.36%\n',
 '6.54%\n',
 '15.57%\n',
 '8.88%\n',
 '12.23%\n',
 '16.69%\n',
 '15.57%\n',
 '12.98%\n',
 '10.36%\n',
 '6.54%\n',
 '12.98%\n',
 '12.98%\n',
 '9.25%\n',
 '12.98%\n',
 '9.99%\n',
 '6.54%\n',
 '15.95%\n',
 '12.23%\n',
 '13.72%\n',
 '6.54%\n',
 '16.32%\n',
 '14.09%\n',
 '6.17%\n',
 '5.42%\n',
 '12.23%\n',
 '17.80%\n',
 '5.79%\n',
 '6.54%\n',
 '12.98%\n',
 '10.36%\n',
 '6.54%\n',
 '15.20%\n',
 '5.42%\n',
 '6.54%\n',
 '5.79%\n',
 '13.35%\n',
 '15.95%\n',
 '6.91%\n',
 '14.83%\n',
 '13.35%\n',
 '6.54%\n',
 '6.91%\n',
 '12.61%\n',
 '18.54%\n',
 '13.35%\n',
 '16.32%\n',
 '5.79%\n',
 '13.72%\n',
 '5.79%\n',
 '6.17%\n',
 '13.35%\n',
 '8.88%\n',
 '13.72%\n',
 '5.79%\n',
 '10.36%\n',
 '14.09%\n',
 '6.54%\n',
 '14.09%\n',
 '14.46%\n',
 '13.72%\n',
 '5.79%\n',
 '13.35%\n',
 '6.17%\n',
 '6.54%\n',
 '9.99%\n',
 '5.79%\n',
 '6.54%\n',
 '12.61%\n',
 '6.91%\n',
 '9.62%\n',
 '14.09%\n',
 '17.06%\n',
 '18.54%\n',
 '6.17%\n',
 '8.88%\n',
 '15.57%\n',
 '10.36%\n',
 '6.17%\n',
 '5.79%\n',
 '5.42%\n',
 '12.23%\n',
 '10.36%\n',
 '5.79%\n',
 '17.06%\n',
 '9.99%\n',
 '5.79%\n',
 '9.25%\n',
 '10.36%\n',
 '10.36%\n',
 '12.23%\n',
 '9.62%\n',
 '14.09%\n',
 '18.17%\n',
 '14.83%\n',
 '9.99%\n',
 '12.23%\n',
 '13.35%\n',
 '9.25%\n',
 '9.25%\n',
 '14.09%\n',
 '9.99%\n',
 '12.61%\n',
 '8.88%\n',
 '14.83%\n',
 '20.03%\n',
 '6.91%\n',
 '5.42%\n',
 '9.62%\n',
 '10.36%\n',
 '5.79%\n',
 '9.99%\n',
 '9.25%\n',
 '6.17%\n',
 '15.57%\n',
 '16.32%\n',
 '9.62%\n',
 '9.99%\n',
 '12.98%\n',
 '6.54%\n',
 '9.25%\n',
 '5.42%\n',
 '10.36%\n',
 '14.83%\n',
 '6.54%\n',
 '9.62%\n',
 '12.98%\n',
 '6.91%\n',
 '5.79%\n',
 '5.79%\n',
 '6.17%\n',
 '9.62%\n',
 '5.79%\n',
 '14.46%\n',
 '13.72%\n',
 '9.25%\n',
 '6.54%\n',
 '6.91%\n',
 '5.79%\n',
 '6.91%\n',
 '13.72%\n',
 '13.35%\n',
 '9.25%\n',
 '9.99%\n',
 '6.17%\n',
 '17.80%\n',
 '9.99%\n',
 '6.54%\n',
 '6.91%\n',
 '6.54%\n',
 '9.25%\n',
 '5.42%\n',
 '18.17%\n',
 '13.35%\n',
 '14.83%\n',
 '12.98%\n',
 '15.57%\n',
 '12.23%\n',
 '14.83%\n',
 '15.95%\n',
 '6.54%\n',
 '10.36%\n',
 '15.95%\n',
 '17.43%\n',
 '6.17%\n',
 '6.17%\n',
 '6.91%\n',
 '12.23%\n',
 '12.61%\n',
 '17.06%\n',
 '6.91%\n',
 '6.54%\n',
 '9.99%\n',
 '13.72%\n',
 '15.95%\n',
 '5.79%\n',
 '6.17%\n',
 '13.72%\n',
 '12.98%\n',
 '6.17%\n',
 '6.17%\n',
 '9.62%\n',
 '5.42%\n',
 '15.95%\n',
 '5.42%\n',
 '13.72%\n',
 '9.62%\n',
 '9.25%\n',
 '14.46%\n',
 '9.99%\n',
 '9.99%\n',
 '6.54%\n',
 '13.35%\n',
 '5.79%\n',
 '6.91%\n',
 '9.62%\n',
 '5.42%\n',
 '16.32%\n',
 '10.36%\n',
 '6.91%\n',
 '14.46%\n',
 '8.88%\n',
 '10.36%\n',
 '5.79%\n',
 '6.91%\n',
 '6.91%\n',
 '14.83%\n',
 '10.36%\n',
 '13.35%\n',
 '6.91%\n',
 '5.79%\n',
 '6.17%\n',
 '13.72%\n',
 '9.25%\n',
 '12.98%\n',
 '9.99%\n',
 '13.35%\n',
 '15.95%\n',
 '12.23%\n',
 '9.99%\n',
 '14.09%\n',
 '12.61%\n',
 '6.54%\n',
 '6.91%\n',
 '5.79%\n',
 '16.69%\n',
 '9.25%\n',
 '6.91%\n',
 '9.62%\n',
 '19.66%\n',
 '12.61%\n',
 '13.72%\n',
 '18.54%\n',
 '10.36%\n',
 '5.79%\n',
 '9.25%\n',
 '9.62%\n',
 '6.54%\n',
 '5.79%\n',
 '14.46%\n',
 '18.54%\n',
 '6.91%\n',
 '5.79%\n',
 '12.23%\n',
 '5.79%\n',
 '16.32%\n',
 '14.83%\n',
 '14.83%\n',
 '9.62%\n',
 '9.25%\n',
 '5.79%\n',
 '9.62%\n',
 '14.46%\n',
 '13.35%\n',
 '6.17%\n',
 '5.42%\n',
 '6.17%\n',
 '6.91%\n',
 '15.57%\n',
 '18.54%\n',
 '15.20%\n',
 '5.79%\n',
 '10.36%\n',
 '6.91%\n',
 '9.25%\n',
 '6.91%\n',
 '18.54%\n',
 '6.54%\n',
 '9.99%\n',
 '12.98%\n',
 '8.88%\n',
 '10.36%\n',
 '6.54%\n',
 '13.35%\n',
 '5.79%\n',
 '6.54%\n',
 '12.23%\n',
 '13.35%\n',
 '9.62%\n',
 '6.91%\n',
 '13.35%\n',
 '6.91%\n',
 '6.91%\n',
 '9.99%\n',
 '10.36%\n',
 '8.88%\n',
 '16.69%\n',
 '14.83%\n',
 '14.09%\n',
 '9.62%\n',
 '6.91%\n',
 '6.91%\n',
 '9.99%\n',
 '16.69%\n',
 '5.42%\n',
 '14.46%\n',
 '9.62%\n',
 '6.91%\n',
 '10.36%\n',
 '9.62%\n',
 '5.42%\n',
 '9.25%\n',
 '8.88%\n',
 '14.83%\n',
 '12.61%\n',
 '5.79%\n',
 '9.25%\n',
 '13.72%\n',
 '6.54%\n',
 '17.43%\n',
 '6.54%\n',
 '6.17%\n',
 '10.36%\n',
 '5.79%\n',
 '6.91%\n',
 '10.36%\n',
 '18.17%\n',
 '13.35%\n',
 '14.09%\n',
 '8.88%\n',
 '9.62%\n',
 '13.35%\n',
 '9.99%\n',
 '12.61%\n',
 '15.20%\n',
 '14.83%\n',
 '8.88%\n',
 '6.54%\n',
 '6.54%\n',
 '14.46%\n',
 '13.35%\n',
 '6.54%\n',
 '9.99%\n',
 '14.83%\n',
 '5.79%\n',
 '8.88%\n',
 '12.23%\n',
 '9.99%\n',
 '13.72%\n',
 '16.69%\n',
 '12.23%\n',
 '12.98%\n',
 '6.91%\n',
 '5.79%\n',
 '12.98%\n',
 '15.95%\n',
 '13.72%\n',
 '14.83%\n',
 '6.17%\n',
 '9.62%\n',
 '9.62%\n',
 '16.69%\n',
 '14.46%\n',
 '14.09%\n',
 '12.61%\n',
 '12.23%\n',
 '9.25%\n',
 '14.83%\n',
 '9.99%\n',
 '14.46%\n',
 '12.98%\n',
 '13.35%\n',
 '17.80%\n',
 '16.32%\n',
 '15.20%\n',
 '10.36%\n',
 '6.54%\n',
 '9.99%\n',
 '8.88%\n',
 '5.42%\n',
 '10.36%\n',
 '19.66%\n',
 '6.54%\n',
 '12.61%\n',
 '14.46%\n',
 '13.35%\n',
 '6.91%\n',
 '16.32%\n',
 '6.17%\n',
 '17.06%\n',
 '6.91%\n',
 '17.06%\n',
 '9.99%\n',
 '14.83%\n',
 '9.25%\n',
 '5.79%\n',
 '12.61%\n',
 '12.61%\n',
 '6.17%\n',
 '12.98%\n',
 '9.99%\n',
 '8.88%\n',
 '6.91%\n',
 '10.36%\n',
 '9.25%\n',
 '18.17%\n',
 '6.17%\n',
 '6.54%\n',
 '10.36%\n',
 '10.36%\n',
 '13.35%\n',
 '12.98%\n',
 '6.54%\n',
 '6.54%\n',
 '13.72%\n',
 '13.72%\n',
 '6.54%\n',
 '6.17%\n',
 '6.91%\n',
 '15.57%\n',
 '5.42%\n',
 '13.35%\n',
 '15.57%\n',
 '9.25%\n',
 '6.54%\n',
 '8.88%\n',
 '9.25%\n',
 '13.35%\n',
 '18.54%\n',
 '9.62%\n',
 '6.54%\n',
 '14.83%\n',
 '6.91%\n',
 '9.99%\n',
 '5.42%\n',
 '10.36%\n',
 '5.79%\n',
 '6.17%\n',
 '17.43%\n',
 '12.23%\n',
 '6.91%\n',
 '6.17%\n',
 '9.99%\n',
 '13.72%\n',
 '9.62%\n',
 '12.98%\n',
 '6.17%\n',
 '12.98%\n',
 '8.88%\n',
 '12.61%\n',
 '14.46%\n',
 '5.79%\n',
 '12.98%\n',
 '5.79%\n',
 '13.72%\n',
 '14.46%\n',
 '12.23%\n',
 '9.99%\n',
 '6.17%\n',
 '14.83%\n',
 '6.54%\n',
 '6.17%\n',
 '16.69%\n',
 '5.79%\n',
 '9.99%\n',
 '15.95%\n',
 '9.99%\n',
 '9.99%\n',
 '15.95%\n',
 '15.20%\n',
 '6.54%\n',
 '5.79%\n',
 '14.83%\n',
 '6.17%\n',
 '9.62%\n',
 '13.72%\n',
 '9.99%\n',
 '10.36%\n',
 '6.54%\n',
 '5.79%\n',
 '9.62%\n',
 '9.62%\n',
 '12.98%\n',
 '12.61%\n',
 '10.36%\n',
 '6.91%\n',
 '17.43%\n',
 '12.23%\n',
 '8.88%\n',
 '14.83%\n',
 '9.25%\n',
 '12.23%\n',
 '8.88%\n',
 '6.91%\n',
 '12.61%\n',
 '15.20%\n',
 '12.61%\n',
 '10.36%\n',
 '6.54%\n',
 '15.20%\n',
 '16.32%\n',
 '17.43%\n',
 '14.83%\n',
 '13.72%\n',
 '9.62%\n',
 '15.57%\n',
 '6.54%\n',
 '9.62%\n',
 '9.62%\n',
 '16.69%\n',
 '5.79%\n',
 '6.54%\n',
 '13.35%\n',
 '12.23%\n',
 '20.03%\n',
 '12.23%\n',
 '5.79%\n',
 '12.61%\n',
 '9.25%\n',
 '6.91%\n',
 '17.43%\n',
 '8.88%\n',
 '9.99%\n',
 '6.17%\n',
 '10.36%\n',
 '9.99%\n',
 ...]