In [ ]:
a=int(input("ENTER THE RANGE OF THE LIST"))
l=[]
for i in range (a):
    b=int(input(f"ENTER THE VALUE {i+1} "))
    l.append(b)
s=0
for j in range(len(l)):
    s=s+l[j]
print("Sum of the values in the list : ",s)

In [ ]:
def ispali(s):
    return s==s[::-1]

In [ ]:
ispali("suru")

In [ ]:
a=[1,2,3,4]

In [ ]:
a[:]

In [ ]:
a[::-2]

In [ ]:
a[::2]

In [ ]:
a[::-2]

In [ ]:
a[::-1]

In [ ]:
ispali("amma")

In [ ]:
l=[1,2,3,4,5,6]
for j in range(len(l)):
    if l[j]%2==1:
        print(l[j])
    else:
        pass

In [ ]:
n=7
for i in range(1,n+1):
    for j in range(i):
        print("#",end="")
    print("\n")
for i in range(n,0,-1):
    for j in range(i):
        print("#",end="")
    print("\n")

In [ ]:
a='code'
b=list(a)
b[0],b[-1]=b[-1],b[0]
print(" ".join(b))

In [ ]:
fish = {'name': "Nemo", 'hands': "fins", 'special': "gills"}
dog = {'name': "Clifford", 'hands': "paws", 'color': "red"}

In [ ]:
fishdog = {**fish, **dog}

In [ ]:
fishdog

In [ ]:
y=1300

if y%4==0:
    if y%100==0:
        if y%400==0:
            print(f"{y}is a leap year")
        else:
            print(f"{y}is not a leap year")
    else:
        print(f"{y}is a leap year")
else:
    print(f"{y}is a not  leap year")

In [ ]:
distance=20
speed=10
time=5

aspeed=distance/time
adistance=speed*time
atime=distance/speed


print(aspeed,adistance,atime)

In [ ]:
#dd:hh:mm:ss to seconds
days = int(input("Input days: "))*24*60*60
hours = int(input("Input hours: "))*60*60
minutes = int(input("Input minutes: ")) *60
seconds = int(input("Input seconds: "))

time = days + hours + minutes + seconds

print("The  amounts of seconds", time)

In [ ]:
#seconds to dd:hh:mm:ss
time = float(input("Input time in seconds: "))
day = time // (24 * 3600)
time = time % (24 * 3600)
hour = time // 3600
time %= 3600
minutes = time // 60
time %= 60
seconds = time
print("d:h:m:s-> %d:%d:%d:%d" % (day, hour, minutes, seconds))

In [ ]:
stu=()
def st(stu):
    rno,name,m1,m2,m3=stu
    print("rno",rno)
    print(name)
    print(m1)
    print(m2)
    print(m3)
    tot=m1+m2+m3
    avg=tot/3
    print(avg)

In [ ]:
stu=(1,"suru",99,98,97)
st(stu)

In [7]:
def lastN(lst,n):
    lst=[]
    n=int(input("HOW MANY NUMBERS  YOU WANT TO ENTER :"))
    for i in range(n):
        a=int(input("\n ENTER A NUMBER :"))
        lst.append(a)
    disp=int(input("HOW MANY LARGEST NUMBERS YOU WANT TO FIND"))
    lst.sort(reverse=True)
    print("LARGEST NUMBERS ARE : ",lst[:disp])

In [8]:

a=[1,2,66,44,34,344]
lastN(a,3)

HOW MANY NUMBERS  YOU WANT TO ENTER :5

 ENTER A NUMBER :12

 ENTER A NUMBER :789

 ENTER A NUMBER :456

 ENTER A NUMBER :124

 ENTER A NUMBER :154
HOW MANY LARGEST NUMBERS YOU WANT TO FIND3
LARGEST NUMBERS ARE :  [789, 456, 154]

In [13]:
st=[
("John",["compsci", 'physics']),
('Vusi',['maths', 'compsci', 'statistics', 'accounting']),
('Jess',['compsci' ,'accounting' 'economics', 'management']),
('Sarah',[ 'Infosys', 'accounting','economics' ,'commlaw']),
('Zuki',['sociology' ,'economics', 'law' ,'statistics', 'music'])]

In [9]:
for i in range(len(st)):
    print(f"{st[i][0]} has enrolled in {len(st[i][1])} courses")

John has enrolled in 2 courses
Vusi has enrolled in 4 courses
Jess has enrolled in 3 courses
Sarah has enrolled in 4 courses
Zuki has enrolled in 5 courses

In [11]:
for i in range(len(st)):
    print(f"{st[i][0]} -{st[i][1]}")

John -["'compsci'", 'physics']
Vusi -['maths', 'compsci', 'statistics', 'accounting']
Jess -['compsci', 'accountingeconomics', 'management']
Sarah -['Infosys', 'accounting', 'economics', 'commlaw']
Zuki -['sociology', 'economics', 'law', 'statistics', 'music']

In [14]:
count=0
for i in range(len(st)):
    if "compsci"in st[i][1]:
        count=count+1
print(count)

3

In [17]:
for i in range(len(st)):
    if "accounting"in st[i][1]:
         print(f"{st[i][0]}")

Vusi
Sarah

In [20]:
for i in range(len(st)):
    if "accounting"in st[i][1] and 'economics' in  st[i][1]:
        print(f"{st[i][0]}")

Sarah

In [21]:
def multilist(l):
    if len(l)==1:
            return l[0]
    else:
        return l[0]* multilist(l[1:])

In [22]:
l=[1,2,3,4,5]
multilist(l)

120

In [23]:
def lcm(a,b):
    if b==0:
        return a
    else:
        return lcm(b,a%b)

In [24]:
lcm(4,0)

4

In [28]:
stri="hello suru hello naveen"
a=stri.split()
count=0
for i in a:
    count+=1
print(count)

4

In [29]:
print(a)

['hello', 'suru', 'hello', 'naveen']

In [ ]:
f=open("context.txt","w")
for i in range(2):
    a=f.write(input("enter name"))
    m1=f.write(input("enter score 1"))
    m2=f.write(input("enter score 2"))
    m3=f.write(input("enter score 3"))
    f.write("\n")
    tot=m1+m2+m3
    avg=tot/3
    print(f"{a} : avg = {avg}")

enter nameaaa
enter score 190
enter score 290
enter score 390
3 : avg = 2.0