SURUTHI S


DS22522141

ds225229141@bhc.edu.in
 
FUNCTION NOTEBOOK

1.Write a program to create a function that takes two arguments, name and 
age, and print their value

In [1]:
#pgrm1
def fun(name,age):
    return(name, age)

In [2]:
fun("suru",20)

('suru', 20)

2.Write a program to create function func1() to accept a variable length of 
arguments and print their value.

In [59]:
pgrm 2
def vol(*a):
    return(a)

In [61]:
vol(4,5,6,6)

(4, 5, 6, 6)

3.Write a program to create function calculation() such that it can accept 
two variables and calculate addition and subtraction. Also, it must return 
both addition and subtraction in a single return call.

In [5]:
#pgrm3
def basic(a,b):
    return(a+b,a-b)

In [6]:
basic(10,5)

(15, 5)

4.Write a program to create a function show_employee() using the 
following conditions. 
a.It should accept the employee’s name and salary and display both. 
b.If the salary is missing in the function call then assign default value 
9000 to salary

In [8]:
#pgrm 4
def show_employee(name,salary=9000):
    return(name,salary)

In [9]:
show_employee("suru",600000)

('suru', 600000)

In [11]:
show_employee('zzzz')#default argument

('zzzz', 9000)

5.Write a Python function to sum all the numbers in a lis

In [16]:
#pgrm 5
a=int(input("ENTER THE RANGE OF THE LIST"))
l=[]
for i in range (a):
    b=int(input(f"ENTER THE VALUE {i+1}  "))
    l.append(b)
s=0    
for j in range(len(l)):
    s=s+l[j]
print("sum of the values in the list : ",s)

ENTER THE RANGE OF THE LIST3
ENTER THE VALUE 1  4
ENTER THE VALUE 2  6
ENTER THE VALUE 3  10
sum of the values in the list :  20

6.Write a python function given string is palindrome or not

In [38]:
#pgrm 6
def isPalindrome(s):
    return s == s[::-1]

Enter the string: amma

In [39]:
isPalindrome("suru")

False

In [40]:
isPalindrome("amma")

True

7.Write a python function to print only odd numbers(

In [28]:
#pgrm 7
a=int(input("ENTER THE RANGE OF THE LIST"))
l=[]
for i in range (a):
    b=int(input(f"ENTER THE VALUE {i+1}  "))
    l.append(b)
for j in range(len(l)):
    if l[j]%2==1:
        print(l[j])
    else:
        pass

ENTER THE RANGE OF THE LIST3
ENTER THE VALUE 1  1
ENTER THE VALUE 2  5
ENTER THE VALUE 3  9
1
5
9

8.Develop a function front_back that takes in a string and return a new 
string where the first and last characters have been changed

In [36]:
#pgrm 8 
a='code'
b=list(a)
b[0],b[-1]=b[-1],b[0]
print("".join(b))

eodc

9.Develop a function count(string, search) that returns the number of times 
search character appears in string.

In [41]:
#pgrm 9
def count(string, search):
    a=string.count(search)
    return(a)

In [42]:
count("suru","u")

2

Develop a function find(string, char) that returns the position of char if 
exists, otherwise print -1

In [44]:
#pgrm 10
def  find(string, char):
    if(char in string):
        return(string.find(char))
    else:
        print("-1")

In [45]:
find("suru","z")

-1

In [48]:
find("suru","s")

0

11.Write the function program in below requirements 
a. Remove the first letter of the word, 
b. Place the first letter of the word at the end of the word, 
c. Add the string ”ay” to the end of the word

In [49]:
#pgrm 11
def piglatin(word):
    sentence = input('Enter a Sentence: ').lower()
    words = sentence.split()
    for i, word in enumerate(words):
        if word[0] in 'aeiou':
            words[i] = words[i]+"-"+ "way"
        else:
            has_vowel = False
            
            for j, letter in enumerate(word):
                 if letter in 'aeiou':
                    words[i] = word[j:] + "-"+word[:j] + "ay"
                    has_vowel = True
                    break
                    if(has_vowel == False):
                        words[i] = words[i]+"-"+"ay"
    pig_latin = ' '.join(words)
    print("Pig Latin: ",pig_latin)

In [50]:
piglatin("hello")

Enter a Sentence: hello
Pig Latin:  ello-hay

12.Write a program that counts the # of spaces, digits, vowels and 
consonants in a string that the user inputs.

In [51]:
#pgrm 12
def charword(string):
    digits=0
    space=0
    vowels=0
    consonants=0   
    for i in range (len(string)):
        c=string[i]
        if (c >='a' and c<='z') or (c>='A' and c<='Z'):  
            c=c.casefold()
            if (c=='a'or c=='e'or c=='i'or c=='o' or c=='u'):
                vowels+=1
            else:
                consonants+=1
        elif(c.isspace()):
            space+=1
        elif(c>='0' and c<='9'):
            digits+=1
            

    print("No os space = ",space)
    print('No of digits = ',digits)
    print("No of No of vowels = ",vowels)
    print("No of consonants = ",consonants)

In [52]:
charword("Bishop Heber College 19")

No os space =  3
No of digits =  2
No of No of vowels =  7
No of consonants =  11

13.Write a function replace(s, old, new) that replaces all occurrences of old 
with new in a string s:

In [57]:
#pgrm 13
def repl(stri,old,new):
    return(stri.replace(old,new))

In [58]:
repl("suru","s","z")

'zuru'

#pgrm 14

1.To find minimum value in given data : min(data)
2.Li=[1,3,3,2,3] here 3 is three time occur in this list so which built 
in function suitable.
ans : count

3.Explain any two math function with suitable example
ans:
max(data) - returns maximum value 
len(data) - returns the length

#pgrm 15:
What is mean by function? And explain positional argument with suitable 
example

Function performs a specific task when its called 
When calling a function, we need to pass arguments to parameters. 
eg:
def basic(a,b):
    return(a+b,a-b)
 basic(a,b)