In [2]:

a=int(input("ENTER THE NUMBER OF SUBJECTS : "))
mark=[]
total =0
for i in range(a):
    mark.insert(i,int(input(f"ENTER MARK {i+1}  : ")))
    total+=mark[i]
print(f"TOTAL ={total}")
avg=total/a
print(f"AVERAGE = {avg}")

ENTER THE NUMBER OF SUBJECTS : 4
ENTER MARK 1  : 100
ENTER MARK 2  : 100
ENTER MARK 3  : 100
ENTER MARK 4  : 100
TOTAL =400
AVERAGE = 100.0

In [6]:
b=int(input("ENTER THE TABLE TO BE PRINTED : "))
for i in range(1,11):
    print(f"{b}*{i} = {b*i}")

ENTER THE TABLE TO BE PRINTED : 5
5*1 = 5
5*2 = 10
5*3 = 15
5*4 = 20
5*5 = 25
5*6 = 30
5*7 = 35
5*8 = 40
5*9 = 45
5*10 = 50

In [2]:

#without argument without return 

def show_employee(name,salary = 9000):
    name=input("ENTER THE EMPLOYEE NAME : ")
    salary = int(input("\nENTER THE SALARY OF THE EMPLOYEE : "))
    print(f"\n EMPLOYEE NAME : {name}")
    print(f"\n SALARY : {salary}")

In [6]:

#with argument with return

def show_employee(name,salary=9000):
    print(name, salary)

In [7]:
show_employee('Anne',7000)

Anne 7000

In [9]:
show_employee('Na')

Na 9000

In [13]:
def odd_or_even(num):
    odd_num=[]
    even_num=[]
    for i in num:
        if i%2==1:
            odd_num.append(i)
        else:
            even_num.append(i)
    
    print("ODD NUMBERS  : ",odd_num)
    print("EVEN NUMBERS  :",even_num)

In [14]:
a=[1,2,3,4,5,6,7,8,9,10]
odd_or_even(a)

ODD NUMBERS  :  [1, 3, 5, 7, 9]
EVEN NUMBERS  : [2, 4, 6, 8, 10]

In [ ]:
def ops(a,b):
    ops=input("ENTER OP")

In [20]:
def odd(num):
    odd_num=[]
    for i in num:
        if i%2==1:
            odd_num.append(i)
            
    print("ODD NUMBERS  : ",odd_num)

In [21]:
a=[1,2,3,4,5]
odd(a)

ODD NUMBERS  :  [1, 3, 5]

In [23]:
a=[1,2,3,4,5,6,7,8,9,10]
filter(odd,a)
for i in a:
    print(i)

1
2
3
4
5
6
7
8
9
10