In [1]:
# numpy - index pre defined
# user defined index - pandas series 
# series is a 1D array
# series - collection of different datatypes
# series data structure

In [2]:
import pandas as pd

# Intro to Pandas DataStructure

In [3]:
df = pd.Series([4,7,-5,3])

In [4]:
df

0    4
1    7
2   -5
3    3
dtype: int64

In [5]:
df.values

array([ 4,  7, -5,  3], dtype=int64)

In [6]:
df.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
df2 = pd.Series([90,99,98,90],index=['eng','tam','cs','mat'])

In [8]:
df2

eng    90
tam    99
cs     98
mat    90
dtype: int64

In [9]:
df2.index

Index(['eng', 'tam', 'cs', 'mat'], dtype='object')

In [10]:
df2.values

array([90, 99, 98, 90], dtype=int64)

In [11]:
df2['eng']

90

In [13]:
df[2]

-5

In [14]:
df2['ss'] = 89

In [15]:
df2

eng    90
tam    99
cs     98
mat    90
ss     89
dtype: int64

In [17]:
df2['ss'] = 97

In [19]:
df2

eng    90
tam    99
cs     98
mat    90
ss     97
dtype: int64

In [21]:
del df['ss']

In [22]:
df

0    4
1    7
2   -5
3    3
dtype: int64

In [23]:
df2[['ss','cs','mat']]

ss     97
cs     98
mat    90
dtype: int64

In [24]:
df2

eng    90
tam    99
cs     98
mat    90
ss     97
dtype: int64

In [27]:
df2>95

eng    False
tam     True
cs      True
mat    False
ss      True
dtype: bool

In [28]:
df2[df2>95]

tam    99
cs     98
ss     97
dtype: int64

In [30]:
df2*3

eng    270
tam    297
cs     294
mat    270
ss     291
dtype: int64

In [32]:
'sci' in df2

False

# hierarchical indexing
# 7th feb

series is labelled data
hierarchical indexing
Indexing -

In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.Series(np.random.randn(9),index = [['a','a','a','b','b','b','c','c','c'],[1,2,3,4,5,6,7,8,9]])

In [15]:
data

a  1    0.279115
   2   -0.022882
   3    0.156424
b  4   -0.168299
   5   -0.741025
   6   -0.412047
c  7   -1.223428
   8    0.275140
   9   -2.196225
dtype: float64

In [12]:
data['a']

1    0.279115
2   -0.022882
3    0.156424
dtype: float64

In [11]:
data['b':'c']

b  4   -0.168299
   5   -0.741025
   6   -0.412047
c  7   -1.223428
   8    0.275140
   9   -2.196225
dtype: float64

In [13]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 4),
            ('b', 5),
            ('b', 6),
            ('c', 7),
            ('c', 8),
            ('c', 9)],
           )

In [16]:
data = pd.Series(np.random.randn(9),index = [['a','a','a','b','b','b','c','c','c'],[1,2,3,1,2,3,1,2,3]])

In [18]:
data

# unstacked hierarchy

a  1   -0.471772
   2   -0.343708
   3   -1.231228
b  1   -1.540971
   2   -1.667785
   3   -0.872836
c  1   -1.123367
   2    0.969070
   3   -0.245286
dtype: float64

In [17]:
data.loc[:,2]

a   -0.343708
b   -1.667785
c    0.969070
dtype: float64

In [19]:
data

a  1   -0.471772
   2   -0.343708
   3   -1.231228
b  1   -1.540971
   2   -1.667785
   3   -0.872836
c  1   -1.123367
   2    0.969070
   3   -0.245286
dtype: float64

In [25]:
data.unstack()

          1         2         3
a -0.471772 -0.343708 -1.231228
b -1.540971 -1.667785 -0.872836
c -1.123367  0.969070 -0.245286

In [22]:
type(data.unstack())

pandas.core.frame.DataFrame

In [26]:
data.unstack().stack()

a  1   -0.471772
   2   -0.343708
   3   -1.231228
b  1   -1.540971
   2   -1.667785
   3   -0.872836
c  1   -1.123367
   2    0.969070
   3   -0.245286
dtype: float64

In [ ]:
# tradition
data    # raw data
information   #meaningful information
fields / attributes
records
table
db

# data to information conversion by means of program
# collection of meaningful information is fields
# collection of meaningful fields is records 
# collection of  records is table
# collection of table  is db

In [29]:
# xml universal 
# data - object conversion
unstructed to table that has records and attributes

In [42]:
df = pd.DataFrame(np.arange(12).reshape((4,3)),
                 index = ['a','b','c','d'],
                  columns = ['Green','red','yellow'])

In [43]:
df

   Green  red  yellow
a      0    1       2
b      3    4       5
c      6    7       8
d      9   10      11

In [7]:
a = 'suru','nav',2,3.4
np.array(a)

array(['suru', 'nav', '2', '3.4'], dtype='<U32')

In [8]:
ab = pd.Series(a)

In [9]:
ab

0    suru
1     nav
2       2
3     3.4
dtype: object

In [ ]:
# numpy - implicit indexing
# pandas -  explicit and custom indexing

In [17]:
df = pd.DataFrame(np.arange(12).reshape((4,3)),
                 index = [['a','a','b','b'],[1,2,1,2]],
                  columns = [['aaa','bbb','ccc'],['Green','red','yellow']])

In [18]:
df

      aaa bbb    ccc
    Green red yellow
a 1     0   1      2
  2     3   4      5
b 1     6   7      8
  2     9  10     11

In [20]:
df.index.names  = ['rowindex1','rowindex2']
df

                      aaa bbb    ccc
                    Green red yellow
rowindex1 rowindex2
a         1             0   1      2
          2             3   4      5
b         1             6   7      8
          2             9  10     11

In [45]:
df.columns.names = ['C1','C2']

In [46]:
df

C1                    aaa bbb    ccc
C2                  Green red yellow
rowindex1 rowindex2
a         1             0   1      2
          2             3   4      5
b         1             6   7      8
          2             9  10     11

In [21]:
df['aaa']

                     Green
rowindex1 rowindex2
a         1              0
          2              3
b         1              6
          2              9

In [30]:
df['Green']

KeyError: 'Green'

In [32]:
df

                      aaa bbb    ccc
                    Green red yellow
rowindex1 rowindex2
a         1             0   1      2
          2             3   4      5
b         1             6   7      8
          2             9  10     11

In [31]:
df.swaplevel('rowindex2','rowindex1')

                      aaa bbb    ccc
                    Green red yellow
rowindex2 rowindex1
1         a             0   1      2
2         a             3   4      5
1         b             6   7      8
2         b             9  10     11

In [36]:
df.sort_index(level=0)

                      aaa bbb    ccc
                    Green red yellow
rowindex1 rowindex2
a         1             0   1      2
          2             3   4      5
b         1             6   7      8
          2             9  10     11

In [35]:
df.sort_index(level=1)
# 12 12 to 11 22

                      aaa bbb    ccc
                    Green red yellow
rowindex1 rowindex2
a         1             0   1      2
b         1             6   7      8
a         2             3   4      5
b         2             9  10     11

                      aaa bbb    ccc
                    Green red yellow
rowindex1 rowindex2
a         1             0   1      2
          2             3   4      5
b         1             6   7      8
          2             9  10     11

In [40]:
df.swaplevel(0,1).sort_index(level=0)

                      aaa bbb    ccc
                    Green red yellow
rowindex2 rowindex1
1         a             0   1      2
          b             6   7      8
2         a             3   4      5
          b             9  10     11

In [41]:
df.swaplevel(0,1).sort_index(level=1)

                      aaa bbb    ccc
                    Green red yellow
rowindex2 rowindex1
1         a             0   1      2
2         a             3   4      5
1         b             6   7      8
2         b             9  10     11

In [42]:
df.sum(level = 'rowindex1')

C:\Users\SURUTHI S\AppData\Local\Temp\ipykernel_40788\1385260084.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df.sum(level = 'rowindex1')

            aaa bbb    ccc
          Green red yellow
rowindex1
a             3   5      7
b            15  17     19

In [ ]:
# df default access is row 
# row = 0
# column = 1

In [43]:
df.sum()

aaa  Green     18
bbb  red       22
ccc  yellow    26
dtype: int64

In [47]:
df.sum(level = 'C1',axis=1)

C:\Users\SURUTHI S\AppData\Local\Temp\ipykernel_40788\1045766982.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  df.sum(level = 'C1',axis=1)

C1                   aaa  bbb  ccc
rowindex1 rowindex2
a         1            0    1    2
          2            3    4    5
b         1            6    7    8
          2            9   10   11